.upload-photo, .change-avatar , .add-avatar{
    display: flex;
    align-items: center;
    -webkit-box-align: center;
}
.upload-photo .preview-img,
.change-avatar .profile-img,
.add-avatar .profile-img {
    margin-right: 15px;
}
.upload-photo .preview-img img,
.change-avatar .profile-img img,
.add-avatar .profile-img img{
    border-radius: 5px;
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.change-photo-btn {
    background-color: #1e88e5;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 13px;
    font-weight: 600;
    margin: 0 auto;
    padding: 10px 15px;
    position: relative;
    transition: .3s;
    text-align: center;
}
.change-avatar .change-photo-btn,
.add-avatar .change-photo-btn {
    margin: 0 0 10px;
    width: 150px;
}
.change-photo-btn input.upload,
.add-photo-btn input.upload {
    bottom: 0;
    cursor: pointer;
    filter: alpha(opacity=0);
    left: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 220px;
}
.text-muted {
    color: #757575 !important;
}

.course_section .course-page-content{
    padding-top: 120px;
    padding-bottom: 120px;
    font-family: "Poppins", sans-serif;
}
.course_section .course-page-content {
    padding-top: 120px;
    padding-bottom: 120px;
}

.course-single-item{
    background-color: #fff;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    margin-bottom: 30px;
}
.course-single-item .card-img-block {
    position: absolute;
    text-align: center;
    left: 10px;
    right: auto;
    top: 10px;
    background-color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.course-single-item .card-img-block h5{
    font-size: 0.9rem;
}
.course-single-item .course-image {
    position: relative;
}
.course-single-item .course-image img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.course-single-item .course-content {
    padding: 1.25rem;
}
.course-single-item .course-content h4{
    color: #374a5e;
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
}
.course-single-item .course-content .value-align {
    float: right;
}
.course-single-item .course-content h4 a{
    color: #2a435d;
    transition: all 0.3s ease-in;
}
.course-single-item .course-content p{
    color: #374a5e;
    margin-bottom: 10px;
}
.course-single-item .course-content .signle-progressbar{
    margin-top:20px;
}
.course-single-item .course-content .signle-progressbar .progressbar-text h6{
    color: #374a5e;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}
.course-single-item .course-content .signle-progressbar .barfiller{
    width: 100%;
    height: 5px;
    background: #eaeaea;
    position: relative;
}
.course-single-item .course-content .signle-progressbar .barfiller .fill{
    display: block;
    position: relative;
    height: 100%;
    z-index: 1;
}
.course-single-item .course-content .cotent-bottom{
    margin-top:20px;
    transition: all 0.3s ease-in;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.course-single-item .course-content .cotent-bottom .content-left h6{
    color: #374a5e;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}
.course-single-item .course-content .cotent-bottom .content-right ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.course-single-item .course-content li{
    font-family: "Poppins", sans-serif;
}
.course-single-item .course-content .value-align{
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    color: #609d83;
}
.course-single-item .card-footer {
    padding: 0;
}

.course-single-item:hover {
    box-shadow: 0 20px 40px #eaeaea;
}
