.header-body {
    .header-title {
        font-family: $montserrat;
        color: $primary;
    }
}

a { text-decoration: none; }

.herosect {
    font-family: "Roboto", sans-serif;
    background-image: url('/frontend/assets/img/hero/bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 88%;
    padding-bottom:40px;
    .section-title {
        h2 {
            color: #2a435d;
            font-size: 42px;
            font-weight: 700;
            text-transform: capitalize;
            line-height: 1.2;
            span {
                color: #78cb7d;
            }
        }
    }
    .btn-get-started {
        font-size: 13px;
        display: inline-block;
        padding: 12px 28px;
        border-radius: 4px;
        transition: ease-in-out 0.3s;
        color:$primarycolor;
        text-transform: uppercase;
        margin-bottom: 3%;
        border:2px solid $primarycolor;
    }
    .btn-get-started:hover{
        border-radius:4px;
        border:2px solid $primarycolor;
        padding: 12px 28px;
        color: $white;
        background: $primarycolor;
    }
    // .hero_video {
    //     width:500px;
    //     border: 8px solid $white;
    //     border-radius: 20px;
    //     box-shadow: 6px 6px 12px #c3c3c3, -6px -6px 12px $secondarycolor;
    //     position: absolute;
    //     .video-play-button {
    //         position: relative;
    //         top: 50%;
    //         left: 50%;
    //         transform: translate(-50%, -50%);
    //         i {
    //             color: #ffffff;
    //             background-color: #50be46;
    //             font-size: 30px;
    //             width: 60px;
    //             height: 60px;
    //             line-height: 60px;
    //             text-align: center;
    //             border-radius: 50%;
    //         }
    //     }
    //     video::-webkit-media-controls-play-button {
    //         background-color: #f00;
    //         border-radius: 50%;
    //       }
    // }
    .video-container {
        border: 8px solid $white;
        border-radius: 20px;
        position: relative;
        display: flex;
        flex-direction: column;
        box-shadow: 6px 6px 12px #c3c3c3, -6px -6px 12px $secondarycolor;
        .video-wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        video {
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }
    }
    .play-button-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        pointer-events: none;
        #circle-play-b {
            cursor: pointer;
            pointer-events: auto;
            svg {
                width: 80px;
                height: 80px;
                // fill: #d0eed2;
                // stroke: #d0eed2;
                fill: #50be46;
                stroke: #50be46;
                cursor: pointer;
                // background-color: rgba(black, 0.2);
                background-color: rgb(255 255 255);
                border-radius: 50%;
                // opacity: 0.9;
            }
        }
    }
}

// .catagories_sect {
//     .cat_card {
//         border: 1px solid $cardborder;
//         border-radius: 10px;
//         box-shadow: 6px 6px 12px $cardborder, -6px -6px 12px #fdfdfd;
//         .cat_image {
//             width:100%;
//             padding:20px;
//         }
//     }
//     .cat_card:hover {
//         transform: translateY(0) scale(0.8);
//     }

// }
.category-section {
    font-family: "Roboto", sans-serif;
    .section-title {
        h2 {
            color: #2a435d;
            font-size: 42px;
            font-weight: 700;
            text-transform: capitalize;
            line-height: 1.2;
            span {
                color: #78cb7d;
            }
        }
    }
    .single-category-item {
        padding: 50px 20px 30px;
        background-color: #effefb;
        text-align: center;
        transition: all 0.3s ease-in;
        margin-bottom: 30px;
        .category-image {
            position: relative;
            height: 100px;
            .feature-round-shape-3 {
                position: absolute;
                top: -15px; left: 50%;
                width: auto; height: auto;
                transition: all 0.3s ease-in;
            }
        }
        .category-title {
            h4{
                color: #374a5e;
                font-size: 24px;
                font-weight: 700;
                text-transform: capitalize;
            }
        }
        span {
            color: #374a5e;
            text-transform: capitalize;
        }
    }
    .single-category-item:hover{
        .feature-round-shape-3 {
        transform: scale(1.2);
      }
    }
}

.about-section {
    font-family: "Roboto", sans-serif;
    padding-top: 70px;
    .section-title {
        margin-bottom: 50px;
        h2 {
            color: #2a435d;
            font-size: 42px;
            font-weight: 700;
            text-transform: capitalize;
            line-height: 1.2;
            span {
                color: #78cb7d;
            }
        }
    }
    .about-content-left {
        .about-single-content {
            margin-bottom: 30px;
            .content-top {
                display: flex;
                align-items: center;
                .content-icon {
                    margin-right: 10px;
                }
                .template-icon.green-icon {
                    color: #50be46;
                }
                .template-icon {
                    font-size: 50px;
                    line-height: 0;
                }
                h5 {
                    text-transform: capitalize;
                    color: #374a5e;
                    font-size: 20px;
                    font-weight: 500;
                }
            }
            p {
                margin-top:10px;
            }
        }
    }
    .about-content-right {
        .about-single-content {
            margin-bottom: 30px;
            .content-top {
                display: flex;
                align-items: center;
                .content-icon {
                    margin-right: 10px;
                }
                .template-icon.green-icon {
                    color: #50be46;
                }
                .template-icon {
                    font-size: 50px;
                    line-height: 0;
                }
                h5 {
                    text-transform: capitalize;
                    color: #374a5e;
                    font-size: 20px;
                    font-weight: 500;
                }
            }
            p {
                margin-top:10px;
            }
        }
    }
    .video-popup-area {
        position: relative;
        .video-play-button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            img {
                width: 100%;
                height: auto;
                display: block;
            }
            i {
                color: #ffffff;
                background-color: #50be46;
                font-size: 30px;
                width: 60px;
                height: 60px;
                line-height: 60px;
                text-align: center;
                border-radius: 50%;
            }
            .item-ripple {
                animation: ripple 3s infinite ease-in-out;
            }
        }
        .image-absolute {
            .top-absolute {
                position: absolute;
                top: 0;
                right: 0;
            }
            .bottom-absolute {
                position: absolute;
                left: 0;
                bottom: 0;
            }
            img {
                width: 150px;
                height: auto;
            }
        }
    }
}

.course_section {
    font-family: "Roboto", sans-serif;
    padding-bottom: 50px;
    .section-title {
        h2 {
            color: #2a435d;
            font-size: 42px;
            font-weight: 700;
            text-transform: capitalize;
            line-height: 1.2;
            span {
                color: #78cb7d;
            }
        }
    }
    .cat_card {
        border:1px solid $cardborder;
        border-radius:10px;
        box-shadow: 6px 6px 12px $secondarycolor, -6px -6px 12px #fdfdfd;
        background-image: url('/frontend/assets/img/scattered-forcefields.svg');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .card_container {
            padding:13%;
            .course_description {
                .course_icon {
                    font-size:43px;
                    font-weight:300px;
                    color: $iconcolor;
                }
                .course_title {
                    color:$black;
                }
                .course_price {
                    color:$pricecolor;
                }
            }
            hr {
                border-bottom: 1px solid #76c67b;
                border-top: 0 none;
                margin: 30px 0;
                padding: 0;
            }
            .course_view {
                .course_play {
                    float:left;
                }
                .fa-play-circle {
                    color:$secondarycolor;
                    padding-right: 5px;
                }
                .fa-user-circle {
                    color:$secondarycolor;
                    padding-left: 2%;
                    padding-right: 2%;
                }
                .btn_join {
                    border-radius:10px;
                    border:2px solid $primarycolor;
                    padding: 6px 18px;
                    color:$primarycolor;
                }
                .btn_join:hover {
                    border-radius:10px;
                    border:2px solid $primarycolor;
                    padding: 6px 18px;
                    color: $white;
                    background: $primarycolor;
                }
            }
        }
        .card_container:hover {
            padding:0;
            .course_description{
                padding-top:13%;
                padding-right:13%;
                padding-left:13%;
                padding-bottom:2%;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(177,220,180,1) 0%, rgb(194, 231, 197,1) 100%);
                .course_icon {
                    color:black;
                }
                .course_title {
                    color:black;
                }
                .course_price {
                    color:black;
                    padding-bottom:6%;
                }
            }
            hr {
                display:none;
            }
            .course_view {
                padding-top: 6%;
                padding-right:13%;
                padding-left:13%;
                padding-bottom:13%;
            }
        }
    }
}

.instructor-section {
    font-family: "Roboto", sans-serif;
    position: relative;
    padding: 215px 0 0;
    margin-top: -100px;
    background-image: linear-gradient(rgba(80, 190, 70, 0.1), #ffffff);
    .section-title {
        h2 {
            color: #2a435d;
            font-size: 42px;
            font-weight: 700;
            text-transform: capitalize;
            line-height: 1.2;
            span {
                color: #78cb7d;
            }
        }
    }
    .single-instructor {
        position: relative;
        padding: 20px 20px 30px;
        background-color: #effefb;
        text-align: center;
        transition: all 0.3s ease-in;
        margin-bottom: 30px;
        .diffrent-bg-color {
            background-color: #fffcf6 !important;
        }
        .instructor-sign {
            position: absolute;
            bottom: 0;
            right: 5px;
            font-size: 30px;
            font-weight: 700;
            text-transform: capitalize;
            color: #374a5e;
            opacity: .2;
        }
        .instructor-image {
            img{
                width: 100%;
                height: auto;
                display: block;
            }
        }
        .instructor-content {
            margin-top: 20px;
            h4 {
                color: #374a5e;
                font-size: 24px;
                font-weight: 700;
                text-transform: capitalize;
                a{
                    color: #374a5e;
                    transition: all 0.3s ease-in;
                }
            }
            span {
                display: inline-block;
                margin-top: 5px;
                text-transform: capitalize;
            }
        }
        .hover-state {
            transition: all 0.3s ease-in;
            position: relative;
            bottom: -5px;
            opacity: 0;
            visibility: hidden;
            ul {
                margin-top: 10px;
                margin: 0;
                padding: 0;
                list-style: none;
                li {
                    display: inline-block;
                    margin: 0 5px;
                    a {
                        color: #374a5e;
                        transition: all 0.3s ease-in;
                        text-decoration: none;
                        background-color: transparent;
                    }
                }
            }
        }
        .hover-state:hover {
            visibility: visible !important;
          }
    }
    .single-instructor:hover {
        box-shadow: 0 20px 40px #eaeaea;
        .hover-state {
            visibility: visible !important;
          }
    }
    .btn-instructor {
        font-size: 13px;
        display: inline-block;
        padding: 12px 28px;
        border-radius: 4px;
        transition: ease-in-out 0.3s;
        color:$primarycolor;
        text-transform: uppercase;
        margin-bottom: 3%;
        border:2px solid $primarycolor;
    }
    .btn-instructor:hover{
        border-radius:4px;
        border:2px solid $primarycolor;
        padding: 12px 28px;
        color: $white;
        background: $primarycolor;
    }
}

.team-area {
    font-family: "Roboto", sans-serif;
    position: relative;
    padding: 215px 0 0;
    margin-top: -100px;
    background-image: linear-gradient(rgba(80, 190, 70, 0.1), #ffffff);
    .section-title {
        h2 {
            color: #2a435d;
            font-size: 42px;
            font-weight: 700;
            text-transform: capitalize;
            line-height: 1.2;
            span {
                color: #78cb7d;
            }
        }
    }
    .single-instructor {
        position: relative;
        padding: 20px 20px 30px;
        background-color: #effefb;
        text-align: center;
        transition: all 0.3s ease-in;
        margin-bottom: 30px;
        .diffrent-bg-color {
            background-color: #fffcf6 !important;
        }
        .instructor-sign {
            position: absolute;
            bottom: 0;
            right: 5px;
            font-size: 30px;
            font-weight: 700;
            text-transform: capitalize;
            color: #374a5e;
            opacity: .2;
        }
        .instructor-image {
            img{
                width: 100%;
                height: auto;
                display: block;
            }
        }
        .instructor-content {
            margin-top: 20px;
            h4 {
                color: #374a5e;
                font-size: 24px;
                font-weight: 700;
                text-transform: capitalize;
                a{
                    color: #374a5e;
                    transition: all 0.3s ease-in;
                }
            }
            span {
                display: inline-block;
                margin-top: 5px;
                text-transform: capitalize;
            }
        }
        .hover-state {
            transition: all 0.3s ease-in;
            position: relative;
            bottom: -5px;
            opacity: 0;
            visibility: hidden;
            ul {
                margin-top: 10px;
                margin: 0;
                padding: 0;
                list-style: none;
                li {
                    display: inline-block;
                    margin: 0 5px;
                    a {
                        color: #374a5e;
                        transition: all 0.3s ease-in;
                        text-decoration: none;
                        background-color: transparent;
                    }
                }
            }
        }
        .hover-state:hover {
            visibility: visible !important;
          }
    }
    .btn-instructor {
        font-size: 13px;
        display: inline-block;
        padding: 12px 28px;
        border-radius: 4px;
        transition: ease-in-out 0.3s;
        color:$primarycolor;
        text-transform: uppercase;
        margin-bottom: 3%;
        border:2px solid $primarycolor;
    }
    .btn-instructor:hover{
        border-radius:4px;
        border:2px solid $primarycolor;
        padding: 12px 28px;
        color: $white;
        background: $primarycolor;
    }
}


